:root {
    --text-light: #9E9EA9;
    --blue-light: #4AAAEF;
    --bg-blue: #2C2C6C;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    background-image: url(../img/bg-texture.png);
    background-color: #1F1F38;
}

h1 {
    font-size: 2rem;
}

h2,
h3 {
    font-size: 1.2rem;
    color: var(--blue-light);
}

h4,
h5 {
    font-size: 0.8rem;
    margin-bottom: 8px;
}

img {
    width: 100%;
}

.root {
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;

    font-family: 'Courier New', Courier, monospace;
    color: white;
}

/* General class */
.container {
    margin-top: 5rem;
}

.text-light {
    color: var(--text-light);
}

.btn {
    padding: 1rem;
    border: 1px solid var(--blue-light);
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 400;
}

.btn-light {
    background: none;
    color: var(--blue-light);
}

.btn-color {
    background-color: var(--blue-light);
}

.btn-light:hover,
.btn-color:hover {
    background-color: white;
    cursor: pointer;
    color: black;
}

/* Header */
.header {
    width: 80%;
    text-align: center;
}

.header h1 {
    margin: 15px 0;
}

.buttons {
    margin-top: 30px;
}

.buttons button:nth-child(1) {
    margin-right: 5px;
}

.me {
    position: relative;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.social-media {
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    color: var(--blue-light);
}

.social-media a {
    width: 25px;
    height: 25px;
    margin-top: 10px;
}

.scroll {
    position: absolute;
    right: 10px;
    bottom: -5px;
    transform-origin: 100%;
    transform: rotate(90deg);
}

.scroll a {
    text-decoration: none;
    color: var(--blue-light);
}

.scroll a:hover {
    color: white;
}

.pictures {
    width: 300px;
    height: 300px;
    background-color: var(--blue-light);
    border-radius: 50% 50% 0 0;
}




/* NAV */
.nav {
    width: 380px;
    border-radius: 3rem;
    background: rgba(0, 0, 0, 0.3);
    position: fixed;

    display: flex;
    justify-content: space-between;
    align-items: center;
    bottom: 1rem;
    z-index: 2;
    backdrop-filter: blur(15px);
}

.menu {
    margin: 10px;
    border-radius: 3rem;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.menu__item a {
    width: 50px;
    height: 50px;
    padding: 13px;
    border-radius: 3rem;
    transition: all 0.5s ease;
}

.menu__item a {
    display: block;
}

.menu__item a:hover {
    background: rgba(0, 0, 0, 0.3);
    transition: all 0.5s ease;
}

.active {
    border-radius: 3rem;
    background: var(--bg-blue);
    ;
}

/* SECTIONS */
section {
    margin-top: 50px;
    padding-top: 50px;
    width: 80%;
    text-align: center;
}

.about__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.about__me {
    width: 35%;
}

.about__me-imagen {
    display: flex;
    justify-content: center;
    border-radius: 2rem;
    background: rgb(36, 46, 76);
    background: linear-gradient(41deg, rgba(36, 46, 76, 1) 0%, rgba(77, 180, 254, 1) 50%, rgba(36, 46, 76, 1) 100%);
}

.about__me-imagen img {
    border-radius: 2rem;
    transition: all 0.5s ease;
    transform: rotate(15deg);
}

.about__me-imagen img:hover {
    transform: rotate(0deg);
    transition: all 0.5s ease;
}

.about__content {
    width: 50%;
}

.about__cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.about__card {
    width: 30%;
    padding: 20px;
    border: 1px solid var(--bg-blue);
    border-radius: 1rem;
    background: var(--bg-blue);
    transition: all 0.5s ease;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.about__card h4 {
    margin: 10px 0;
}

.about__card:hover {
    border: 1px solid var(--blue-light);
    background: none;
    transition: all 0.5s ease;
}

.about__card-imagen {
    width: 25px;
}

.about__info {
    margin-top: 30px;
    text-align: justify;
}


/* EXPERIENCE */
.experience__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.experience__card {
    width: 45%;
    padding: 50px 0;
    border-radius: 2rem;
    border: 1px solid var(--bg-blue);
    background-color: var(--bg-blue);
    transition: all 0.5s ease;
}

.experience__card:hover {
    border: 1px solid var(--blue-light);
    background: none;
    transition: all 0.5s ease;
}

.experience__content {
    margin: 0 60px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.experience__details {
    margin-top: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.experience__details img {
    margin-right: 1rem;
    width: 25px;
}

.experience__details h4 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


/* SERVICES */
.service__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
}

.service {
    background: var(--bg-blue);
    border-radius: 0 0 2rem 2rem;
    border: 1px solid var(--blue-light);
    height: fit-content;
    transition: all 0.5s ease;
}

.service:hover {
    border: 1px solid var(--bg-blue);
    background: none;
    transition: all 0.5s ease;
}

.service__head {
    background-color: var(--blue-light);
    padding: 2rem;
    border-radius: 0 0 2rem 2rem;
    box-shadow: 0 2rem 1rem rgba(0, 0, 0, 0.1);
}

.service__head h3 {
    font-size: 1rem;
    color: var(--bg-blue);
}

.service__list {
    padding: 2rem 0;
}

.service__list li {
    margin: 0 2rem;
    padding-bottom: 1rem;
    display: flex;
    align-items: flex-start;
    gap: 1rem;
}

.service__list-icon {
    width: 15px;
    margin-top: 2px;
}

.service__list li p {
    text-align: start;
}


/* PORTAFOLIO */
.portfolio__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.proyecto__item {
    background: var(--bg-blue);
    border-radius: 2rem;
    border: 1px solid var(--bg-blue);
    height: fit-content;
    transition: all 0.5s ease;
}

.proyecto__item:hover {
    border: 1px solid var(--blue-light);
    background: none;
    transition: all 0.5s ease;
}

.proyecto__item-img {
    margin: 1.2rem;
}

.proyecto__item-img img {
    border-radius: 1.5rem 1.5rem 0 0;
}

.proyecto__item-info {
    padding: 1.2rem;
}

.proyecto__item-info h3 {
    color: white;
}


/* TESTIMONIALS */
.testimonials__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.testimonial__item {
    width: 60%;
    padding: 2.5rem;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--bg-blue);
}

.testimonial__item-img {
    margin-bottom: 1rem;
    width: 70px;
    height: 70px;
    border: 7px solid #3962A7;
    border-radius: 50%;
}

.testimonial__item-img img {
    border-radius: 50%;
}

.testimonial__item-info h4 {
    display: flex;
    flex-direction: column;
}

.testimonial__item-info h4 span {
    margin-top: 1rem;
}


/* CONTACT */
.contact__info {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}

.contact__info-item {
    width: 30%;
    padding: 2rem;
    border-radius: 2rem;
    border: 1px solid var(--bg-blue);
    background-color: var(--bg-blue);
    transition: all 0.5s ease;
}

.contact__info-item:hover {
    border: 1px solid var(--blue-light);
    background: none;
    transition: all 0.5s ease;
}

.contact__info-item img {
    width: 25px;
}

.contact__info-item h3 {
    margin: 1.5rem 0 1rem 0;
    color: white;
}

.contact__info-item p {
    margin-bottom: 1rem;
}

.contact__info-item a {
    font-size: 0.8rem;
    text-decoration: none;
    color: var(--blue-light);
    transition: all 0.5s ease;
}

.contact__info-item a:hover {
    color: white;
    transition: all 0.5s ease;
}


/* FOOTER */
footer {
    margin: 8rem 0 0 0;
    width: 100%;
    padding: 5rem 0 8rem 0;
    background-color: var(--blue-light);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* overflow-x: hidden; */
}

.footer__logo {
    margin-bottom: 3rem;
    font-size: 2rem;
    font-weight: 700;
    color: #1F1F38;
    text-decoration: none;
    transition: all 0.5s ease;
}

.footer__logo:hover {
    color: white;
    transition: all 0.5s ease;
}

#footer ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
}

#footer ul li {
    margin: 0 1rem;
}

#footer ul li a {
    font-size: .8rem;
    color: #1F1F38;
    text-decoration: none;
    transition: all 0.5s ease;
}

#footer ul li a:hover {
    color: white;
    transition: all 0.5s ease;
}

.footer__social {
    margin: 2rem 0;
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.footer__social a {
    background-color: #1F1F38;
    border-radius: 8px;
    display: flex;
    align-items: center;
    transition: all 0.5s ease;
}

.footer__social a img {
    border-radius: 8px;
    border: 1px solid #1F1F38;
    width: 50px;
    padding: 1rem;
}

.footer__social a:hover {
    background-color: var(--blue-light);
    transition: all 0.5s ease;
}

.footer__copyright {
    font-size: 0.8rem;
    color: #1F1F38;
    /* margin-bottom: 1rem; */
}